* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #d5d5d5;
    width: 1440px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    
  }
  
  .header {
    width: 1073px;
    display: flex;
    margin: 50px  auto;
  }
  
  .pic {
    width: 227px;
    height: 216px;
  }
  
  .heading {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #767676;
    margin-left: 58px;
  }
  
  .portfolio {
    width: 1321px;
    margin-top: 119px;
    margin: -5px;
  }
  
  .p-text {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  
    color: #000000;
  }
  
  .icons
  {
      margin-left: 69px;
      margin-top: 41px;
  }
  
  .icon-item
  {
      margin-left: 49px;
  }

  .imgcontent
  {
      display: flex;
      flex-direction: row;
      padding-left: 72px;
      padding-right: 188,89px;
      width: 206.47px; 
      height: 178.64px;
      left: 558.32px;
      top: 517.36px;
      margin: 5px;
      padding-top: 83.3px;
      border: ;
  }
  